# Build output
/dist

# Node modules
/node_modules

# Environment variables
.env
.env.local
.env.*.local

# IDE files
.idea/
.vscode/
*.swp
*.swo

#git files
.gitignore
.gitattributes
/.git
/old
#other stuff 
/icons

# OS files
.DS_Store
Thumbs.db